# Credenciais do Azure
CLIENT_ID=seu_client_id_aqui
TENANT_ID=seu_tenant_id_aqui
CLIENT_SECRET=seu_client_secret_aqui

# Configurações do SharePoint
SHAREPOINT_USERNAME=-------
SHAREPOINT_FILE_ID=seu_file_id
SHAREPOINT_SOURCEDOC=seu_sourcedoc
SHEET_NAME= aba

# Porta do servidor
PORT=****